*.iml
.gradle
/gradle/
.idea
.kotlin
/local.properties
.DS_Store
/build
/app/build
/lib/build
/flutter_module/.android
/flutter_module/.dart_tool
/flutter_module/.metadata
/flutter_module/.flutter-plugins
/flutter_module/.flutter-plugins-dependencies
/flutter_module/.packages
/flutter_module/.plugin_symlinks
/flutter_module/build
/keystore/
/scripts/release-env.sh
/captures
.externalNativeBuild
.cxx
local.properties
/misc/
/out/
/.gradle_user_home/
/.make.env.resolved
/node_modules/
/.checkpoints/
